.App {
    /* background-color: pink; */
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .App {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title {
    font-size: 30px;
}

.difficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.targetNumber {
    align-self: flex-end;
    font-size: 20px;
}